* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 80%;
}

body {
  background: rgb(21, 21, 21);
  margin: 0px;
  min-height: 100%;
  height: 100%;
}

.App {
  font-family: sans-serif;
}

main {
  height: 95vh;
  margin: 3vh;
}
